<div class="container">
  <p>Sociedade Esportiva Palmeiras is a professional footbal club, based in Sao Paulo, Brazil.</p>
  <p>The club was founded on August 26, 1914, as Palestra Italia, but changed to the current name on September 14, 1942. It is a popular and successful Brazilian club, with around 17 million supporters and 126,000 season ticket holders,including a large number of Brazilians of Italian ancestry. Despite being primarily an association football team, Palmeiras competes in a number of different sports, most notably basketball. The football team plays in the Campeonato Paulista,[nb 1] the state of São Paulo's premier state league, as well as in the Campeonato Brasileiro Série A,[nb 2] the top tier of the Brazilian football league system.</p>
</div>
